first-app-api/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/test" xmlns:tns="http://www.example.org/test" elementFormDefault="qualified">

<xs:element name="user" ></xs:element>
<xs:attribute name="name"></xs:attribute>
<xs:attribute name="sex">
<xs:simpleType>
<xs:restriction>
<xs:enumeration value="male"/>
<xs:enumeration value="fmale"/>
</xs:restriction>
</xs:simpleType>

</xs:attribute>

<xs:attribute name="age">
<xs:simpleType>
<xs:restriction base="integer">
<xs:whiteSpace value="replace"></xs:whiteSpace>
</xs:restriction>
</xs:simpleType>

</xs:attribute>


</xs:schema>